body{
  font-family:Tahoma;
  font-size:16px;
  color:white;
  background-color:rgba(27, 27, 50, 0.8);
}
 h1{
   margin:50px 0 0 0;
 } 
h1,p{
text-align:center;
}
p{
  font-style:italic;
  
}
form{
  max-width:600px;
  min-width:200px;
  background-color:#1b1b32;
  margin:0 auto;
  padding:40px;
  
}
label{
  display:block;
  margin:1rem 0;
}
input,select,textarea{
  width:100%;
  margin:10px 0 0 0;
  min-height:2em;
 box-sizing: border-box;
  padding:5px;
}

.inline{
  width:unset;
  min-height:unset;
  margin:0 10px;
  
}
input[type="submit"] {
  background-color:rgb(144,238,144);
}
